kind: "BuildConfig"
apiVersion: "v1"
metadata:
  name: "My-Jenkins-Pipeline"
  namespace: "cotd-dev"
labels:
  name: cotd-dev
spec:
  nodeSelector: {}
  output: {}
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    git:
      uri: "https://github.com/gestrem/ocp-demo.git"
    type: Git
  strategy:
    jenkinsPipelineStrategy:
      type: "JenkinsPipeline"
  triggers:
  - github:
      secret: secret101
    type: GitHub
  - generic:
      secret: secret101
    type: Generic
      